:root {
	--color1: #0c0f0a;
	--color2: #f2f4f3;
	--text-color: #444;
}
footer {
	padding: 0;
}
section {
	padding: 75px 0;
}
body {
	background-color: var(--color2);
	font-family: 'Roboto', sans-serif;
}

.title-bar {
	position: fixed;
	width: 100%;
	height: 35px;
	background-color: var(--color1);
	z-index: 1;
}
.name {
	margin-left: 7.5%;
	font-size: 20px;
	color: white;
	font-weight: 700;
	text-decoration: none;
}
.lang-bar {
	display: flex;
	justify-content: space-between; /* Равномерно распределяет ссылки */
	align-items: end; /* Центрирует ссылки по вертикали */
	background-color: var(--color1);
	height: 1px; /* Линия, если нужна */
	width: 100%;
	margin-top: 150px;
}

.section-bar {
	display: flex;
	justify-content: space-between; /* Равномерно распределяет ссылки */
	align-items: end; /* Центрирует ссылки по вертикали */
	background-color: var(--color1);
	height: 1px; /* Линия, если нужна */
	width: 100%;
	margin-top: 75px;
}

.bar-button {
	flex: 1; /* Каждый элемент занимает равную часть родительского контейнера */
	text-align: center; /* Центрует текст внутри ссылки */
	text-decoration: none; /* Убирает подчеркивание */
	color: var(--text-color); /* Цвет текста */
	font-weight: bold;
	padding: 10px 0; /* Добавляет отступы по вертикали */
	position: relative;
	overflow: hidden; /* Для скрытия псевдоэлемента вне кнопки */
}

.bar-button::before {
	content: ''; /* Пустое содержимое, создающее псевдоэлемент */
	position: absolute; /* Позиционирование относительно родительского элемента */
	bottom: -100%; /* Исходное положение за пределами кнопки, снизу */
	left: 0; /* Начинает с левого края кнопки */
	width: 100%; /* Покрывает всю ширину кнопки */
	height: 100%; /* Покрывает всю высоту кнопки */
	background-color: rgba(0, 0, 0, 0); /* Изначально фон прозрачен */
	transition: all 0.2s ease-in-out; /* Плавный переход всех свойств за 0.2 секунды */
	z-index: -1; /* Псевдоэлемент находится позади текста */
}

.bar-button:hover::before,
.bar-button.active::before {
	background-color: rgba(0, 0, 0, 0.05); /* Фон сохраняется полупрозрачным */
	bottom: 0; /* Псевдоэлемент остается в видимой области */
}

h1 {
	color: var(--text-color);
	font-size: 30px;
	font-weight: 600;
}
li,
h2 {
	color: var(--text-color);
	padding: 10px 0;
	font-size: 20px;
	font-weight: 300;
}
h3 {
	color: var(--text-color); /* Цвет текста, можно изменить на свой */
	margin-bottom: 15px; /* Отступ снизу для разделения с другими элементами */
	font-weight: 500;
	font-size: 25px;
}
.bg {
	background-color: aqua;
	width: 100%;
	height: 500px;
}

.auth-btn {
	margin-right: 1%;
	font-size: 15px;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	text-decoration: none;
}
.auth-username {
	color: white;
	font-size: 15px;
	margin-right: 1%;
	text-decoration: none;
}
.footer-text {
	font-size: 12px;
	color: var(--text-color);
	font-weight: 100;
	text-decoration: none;
	padding: 15px 0;
}
a.footer-text:hover {
	text-decoration: underline;
}
.photo {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	border-radius: 7px;
	height: auto;
	width: 95%;
}
.free-content,
.paid-content,
.content {
	margin: 30px 0;
	background-color: var(--color2);
	display: flex;
	flex-direction: column; /* Убедитесь, что элементы располагаются в столбик */
	border: solid rgba(0, 0, 0, 0.1) 1px;
	border-radius: 10px;
	width: 100%;
	text-align: left;
	overflow-wrap: break-word; /* Позволяет переносить длинные слова */
	transition: 0.2s;
}
.free-content:hover,
.paid-content:hover,
.content:hover {
	border: solid rgba(0, 0, 0, 0.5) 1px;
	transform: scale(1.005);
	transition: 0.2s;
}

.date-post,
.content-name,
.content-description {
	margin-left: 2.5%;
	width: 95%;
	overflow-wrap: break-word; /* Позволяет переносить длинные слова */
}
.date-post {
	font-size: 10px;
}

.avatar,
.profile-photo,
.edit {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.avatar {
	position: relative;
}
.profile-photo {
	object-fit: cover; /* Обрезает изображение так, чтобы оно вписывалось */
}

.edit {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	color: var(--color2);
	font-size: 50px;
	transition: 0.3s;
}

.edit {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	color: var(--color2);
	font-size: 50px;
	transition: 0.3s;
}

.avatar:hover .edit {
	opacity: 1;
}

.profile-info {
	height: 150px;
	margin-left: 25px;
}

.username {
	margin: 0;
	font-size: 75px;
	font-weight: 900;
}

.reg-date {
	margin-top: -25px;
	font-size: 15px;
}

@media (max-width: 768px) {
	.username {
		font-size: 50px; /* Размер шрифта для мобильных устройств */
	}
	.avatar,
	.profile-photo,
	.edit {
		width: 100px;
		height: 100px;
	}
	.profile-info {
		height: 100px;
		margin-left: 15px;
	}
	.reg-date {
		margin-top: -25px;
		font-size: 10px;
	}
}

.mini-photo-container {
	width: 95%;
	padding-bottom: 95%; /* Это создаст квадратную область, равную ширине */
	position: relative;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	border-radius: 7px;
	overflow: hidden; /* Чтобы изображение не выходило за пределы контейнера */
}

.mini-photo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; /* Изображение сохраняет соотношение сторон и заполняет контейнер */
	border-radius: 7px;
}
.add-btn,
.mini-content {
	margin: 30px 0;
	background-color: var(--color2);
	display: flex;
	flex-direction: column; /* Убедитесь, что элементы располагаются в столбик */
	border: solid rgba(0, 0, 0, 0.1) 1px;
	border-radius: 10px;
	width: 100%;
	text-align: left;
	overflow-wrap: break-word; /* Позволяет переносить длинные слова */
	transition: 0.2s;
}
.add-btn {
	height: 252px;
}
.add-btn:hover,
.mini-content:hover {
	border: solid rgba(0, 0, 0, 0.5) 1px;
	transform: scale(1.005);
	transition: 0.2s;
}
.add-btn-img {
	height: 100px;
	width: 100px;
	opacity: 0.05;
	transition: 0.2s;
	color: var(--color1);
}
.add-btn:hover .add-btn-img {
	opacity: 1;
}
.mini-date-post,
.mini-content-name,
.mini-description {
	margin-left: 2.5%;
	width: 95%;
	overflow-wrap: break-word; /* Позволяет переносить длинные слова */
}
.mini-date-post,
.mini-description {
	font-size: 10px;
	margin-top: -10px;
}
.mini-content-name {
	font-size: 15px;
}

.purchases {
	display: block;
	transition: 0.5s;
}
.self-projects {
	display: none;
	transition: 0.5s;
}

.catalog-image,
.section-image {
	margin-bottom: 50px;
	margin-top: 25px;
	height: 175px;
	width: 100%;
	border-radius: 0 0 50px 0;
	object-fit: cover;
}

.catalog-image {
	border-radius: 10px;
	border: solid var(--color1) 2px;
	padding: 3px;
}
@media (max-width: 768px) {
	.catalog-image,
	.section-image {
		height: 135px;
		margin-bottom: 25px;
		margin-top: 0;
	}
}
@media (max-width: 540px) {
	.catalog-image,
	.section-image {
		height: 95px;
		margin-bottom: 25px;
		margin-top: 0;
	}
}

.paid-btn,
.free-btn {
	margin-right: 2.5%;
	height: 30px;
	width: 150px;
	font-size: 17.5px;
	text-decoration: none;
	border-radius: 5px;
	border: none;
	background-color: var(--color1);
	color: var(--color2);
}
.separator {
	width: 100%;
	height: 1px; /* высота полоски */
	background-color: var(--color1); /* цвет полоски, можно изменить на свой */
	margin: 20px 0; /* отступы сверху и снизу */
}

.tg-card {
	margin: 9% 1.25%;
	background-color: transparent;
	border-radius: 15px;
	border: solid 1px var(--color1);
	height: auto;
	width: 225px;
}
.tg-btn {
	text-decoration: none;
	padding: 5px;
	margin-bottom: 10%;
	font-size: 10px;
	font-weight: 200;
	color: black;
	border: solid black 1px;
	border-radius: 25px;
	background-color: transparent;
	transition: 0.2s;
}
.tg-btn:hover {
	background-color: var(--color1);
	color: var(--color2);
}
.tg-photo-container {
	width: 80%;
	padding-bottom: 80%; /* Это создаст квадратную область, равную ширине */
	position: relative;
	margin-top: 10%;
	margin-bottom: 5%;
	border-radius: 50%;

	overflow: hidden; /* Чтобы изображение не выходило за пределы контейнера */
}

.tg-photo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 1px var(--color1);
	border-radius: 50%;
	padding: 3px;
	object-fit: cover; /* Изображение сохраняет соотношение сторон и заполняет контейнер */
}
